name: Event triggered demo workflow
on: 
  pull_request_target:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Output event data
        run: echo "${{ toJSON(github.event) }}"
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: Test code
        run: npm run test
      - name: Build code
        run: |
          npm run build
          echo " HEADDd - ${{ github.head_ref }} "
      - name: Deploy project
        run: echo "Deploying..."