name: Consome Artefato criado em proprio wf
on: 
    push:
        branches: 
            - main
            - dev
    pull_request:
        types: [opened, synchronize, reopened]
jobs:
    gerar-artefato:
        runs-on: ubuntu-latest
        env:
            GITHUB_CONTEXT: ${{ toJson(github) }}
        steps:
            - name: checkout code
              uses: actions/checkout@v4

            - name: create artifact
              run: |
                echo "Creating artifact..."
                echo "Sample ${{ github.event_name }}" > artifact.txt
                echo "${{ github.actor }}" > artifact1.txt
                mkdir artifacts
                cd artifacts
                echo "$GITHUB_CONTEXT" >> context.json

            - name: upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sample-artifacts
                path: |
                 artifact.txt
                 artifact1.txt
                 context.json

    consumir-artefato:
        needs: gerar-artefato
        runs-on: ubuntu-latest
        steps:
            - name: download artifact
              uses: actions/download-artifact@v4
              with:
                name: sample-artifacts

            - name: use artifact
              run: |
                    echo "Using artifact..."
                    cat artifact1.txt
                    ls -la
                    cat context.json