name: Consome Artefato criado em proprio wf
on:      
    workflow_call:
      inputs:
        nome-arquivo:
            description: 'Nome do arquivo a ser criado'
            default: 'artifact'
            required: false
            type: string
      
jobs:
    gerar-artefato:
        runs-on: ubuntu-latest
        env:
            GITHUB_CONTEXT: ${{ toJson(github) }}            ##define o contexto github como variavel de ambiente do contexto env
        outputs:
            filename: ${{ steps.create.outputs.filename }}   ##define o output filename do job como o output filename do step create id create
        steps:
            - name: checkout code
              uses: actions/checkout@v4
              
            - name: get name-archive ##definido anteriormente para poder ser usado no step create
              run: |
                echo "ARQUIVO_NOME=${{ inputs.nome-arquivo }}$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV ##Define somente a String ARQUIVO_NOME com o valor do input nome-arquivo mais a data e hora atual no formato ano mes dia hora minuto segundo

            - name: create artifact
              id: create
              run: |
                echo "Creating artifact..."
                echo "Sample ${{ github.event_name }}" > name-artifact.txt
                echo "${{ github.actor }}" > $ARQUIVO_NOME.txt
                filename=$(ls $ARQUIVO_NOME.txt)
                echo "filename=$filename" >> $GITHUB_OUTPUT ##gerado o output filename para ser usado no output do job
                ls
                mkdir artifacts
                cd artifacts
                echo "$GITHUB_CONTEXT" >> contexts.json
                echo "$GITHUB_CONTEXT" >> context.json
                
            - name: upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sample-artifacts
                path: |
                 name-artifact.txt
                 $filename
                 artifacts
                 
    consumir-artefato:
        needs: gerar-artefato
        runs-on: ubuntu-latest
        steps:
            - name: download artifact
              uses: actions/download-artifact@v4
              with:
                name: sample-artifacts

            - name: use artifact
              run: |
                    echo "Using artifact..."
                    ls 
                    cd artifacts
                    ls 
                    