name: Consome Artefato criado em proprio wf
on: 
    push:
        branches: 
            - main
            - dev
            - 'feature/**'

    pull_request:
        types: [opened, reopened]

jobs:
    gerar-artefato:
        runs-on: ubuntu-latest
        env:
            GITHUB_CONTEXT: ${{ toJson(github) }}
        steps:
            - name: checkout code
              uses: actions/checkout@v4
            - name: get date
              run: |
                echo "DATE=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
            - name: create artifact
              run: |
                echo "Creating artifact..."
                echo "Sample ${{ github.event_name }}" > artifact.txt
                echo "${{ github.actor }}" > artifact-$DATE.
                filename=$(ls artifact-*.txt)
                echo "filename$filename" >> $GITHUB_OUTPUT
                ls
                mkdir artifacts
                cd artifacts
                echo "$GITHUB_CONTEXT" >> contexts.json
                echo "$GITHUB_CONTEXT" >> context.json

            - name: upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sample-artifacts
                path: |
                 artifact.txt
                 artifact-${{ env.DATE }}.txt  
                 artifacts
                 
    consumir-artefato:
        needs: gerar-artefato
        runs-on: ubuntu-latest
        steps:
            - name: download artifact
              uses: actions/download-artifact@v4
              with:
                name: sample-artifacts

            - name: use artifact
              run: |
                    echo "Using artifact..."
                    cat artifact-*.
                    ls | grep ${{ needs.gerar-artefato.outputs.filename }}
                    cd artifacts
                    ls 
                    